body{
    background:rgba(102,102,102,1);

}

 #menu ul{
    list-style: none;
    margin:0;
    padding:0;
}

#menu ul li{
    float:left;
    position: static;
    position: initial;

}

#menu a{
    color:rgba(255,255,255,1);
    display: block;
    padding: 12px 26px;
    font-size: 18px;
    text-decoration: none;

}

#menu{
    background:rgba(102,102,102,1);
    width: 1000px;
    height:52px;
}

.barra
{
    color: rgba(153,153,153,1);
    padding: 15px 0 0 0;
}

#menu a:hover{
    color: rgba(255,153,0,1);
    background: rgba(0,0,0,0.2);
    animation: 1s ms 1;
}

@keyframes ms{
    0%{
    opacity: 0;
transform: scale(1.6);
    }
}

